<header>
    <nav class="navbar navbar-expand-sm navbar-dark navbar-color">
        <div class="container">
            <h1 class="navbar-brand ecscg-logo">ECSCG</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-messages">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-users">Users</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse nav-center" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item log-btn">
                        <a class="btn" href="/admin-account"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>